body {
    background-color: #222831; 
}

h1 {
    color: #76ABAE;
    text-align: center;
}

h2 {
    color: #436850;
    text-align: center;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFF7F1;
    border-radius: 13px;
    height: 30px;
    border: none;
    
}

#saveBtn {
    margin-top: 8px;
    width: 70px;
    background-color: #88b196;
}

#saveBtn:hover {
    background-color: #316452;
}

#addBtn {
    margin-top: 15px;
}

#newDate {
    margin-top: 10px;
}

input {

    padding: 12px 20px;
    border: none;
    box-sizing: border-box;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
button:hover {
    background-color: #B4B4B8;
}

#timer {
    color:#606765;
    text-align: center;
}